<form class="fon">
<div style="text-align:center">
 
  <MARQUEE BGCOLOR="#FFFF00">
   {{ title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {{ title2}}
   
  </MARQUEE>

 

  <img width="900" alt="Logo Proyecto" src="/assets/logoproyecto.png">
  
 
</div>
<h2> </h2>


<!-- se incluye el link para la otra página -->

<!-- CADA QUE TERMINEN EL FRONT END DE UNA TABLA, AÑADIRLE AQUI PARA QUE CORRA -->
<form class="controles">
 
 
  <h2><a class="titulo4" routerLink="/vacas">VACAS</a></h2>
  <h2><a class="titulo5" routerLink="/razavaca">RAZAS VACAS</a></h2>
  <h2><a class="titulo6" routerLink="/Empleado">EMPLEADOS</a></h2>
  <h2 style="animation: infinite;"><a class="titulo1" routerLink="/tipdoc">TIPOS DE DOCUMENTOS</a></h2>
  <h2><a class="titulo7" routerLink="/Rol">ROLES</a></h2>
  <h2><a class="titulo2" routerLink="/DetallesProduccion">DETALLES DE PRODUCCION</a></h2>
  <h2><a class="titulo9" routerLink="/InsumoLeche">INSUMOS DE LECHE</a></h2>
  <h2><a class="titulo3" routerLink="/Informeempleado">INFORME DE PRODUCCION POR EMPLEADO</a></h2>
  <h2 ><a  class="titulo8" routerLink="/informevaca">INFORME DE PRODUCCION POR VACA</a></h2>
</form>


<form class="portada1">
  <img  width="400" alt="Portada1" src="/assets/portada4.jpg" onmouseout="this.src='/assets/portada.jpg'" onmouseover="this.src='/assets/portada4.jpg'">
  <img  width="400" alt="Portada2" src="/assets/portada5.jpg" onmouseout="this.src='/assets/portada2.jpg'" onmouseover="this.src='/assets/portada5.jpg'">
</form>

<form class="acerca">
  <h2 ><a  class="acerca2" routerLink="/Acercade">Acerca de</a></h2>
</form>

<form class="informacion">
  <h1 class="ayuda">Ayuda</h1>
  <h2 ><a  class="informacion2" routerLink="/Informacion" >Actualizaciones</a></h2>
  
</form>




</form>